//
// _vertical.scss
//

.app-content {
  margin-left: $vertical-menu-width;
  overflow: hidden;

  .content {
    padding: 0 15px 10px 15px;
    margin-top: $header-height;
  }
}

.main-content {
  transition: all 0.1s ease-out;

  @media (min-width: 1200px) {
    margin-left: $vertical-menu-width;
  }
}

.page-content {
  padding: calc(#{$header-height} + #{$grid-gutter-width}) calc(#{$grid-gutter-width} / 2)
    $footer-height calc(#{$grid-gutter-width} / 2);
}

.navbar-menu {
  width: $vertical-menu-width;
  z-index: $vertical-menu-z-index;
  background: $vertical-menu-bg;
  border-right: 1px solid $vertical-menu-border;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  box-shadow: $vertical-menu-box-shadow;
  padding: 0 0 calc(#{$header-height} + 25px) 0;
  transition: all 0.1s ease-out;

  .navbar-nav {
    .nav-link {
      display: flex;
      align-items: center;
      padding: $vertical-menu-item-padding-y $vertical-menu-item-padding-x;
      color: $vertical-menu-item-color;
      font-size: $vertical-menu-item-font-size;
      font-family: $vertical-menu-item-font-family;

      &.active {
        color: $vertical-menu-item-active-color;
      }

      &:hover {
        color: $vertical-menu-item-hover-color;
      }

      i {
        display: inline-block;
        min-width: $vertical-menu-item-icon-width;
        font-size: 18px;
        line-height: inherit;
      }

      svg {
        width: 18px;
        margin-right: 0.665rem;
        color: $vertical-menu-item-color;
      }

      .badge {
        margin-left: auto;
        margin-right: -2px;
        z-index: 1;
      }

      &:hover {
        color: $vertical-menu-item-hover-color;

        .icon-dual {
          color: $vertical-menu-item-hover-color;
          fill: rgba($primary, 0.16);
        }
      }

      &[data-bs-toggle='collapse'] {
        &:after {
          display: block;
          content: '\F0142';
          font-family: 'Material Design Icons';
          margin-left: auto;
          transition: transform 0.2s;
          font-size: 1.05rem;
          position: absolute;
          right: 18px;
          color: $vertical-menu-title-color;
        }

        &[aria-expanded='true'] {
          color: $vertical-menu-item-active-color;

          .icon-dual {
            color: $vertical-menu-item-hover-color;
            fill: rgba($primary, 0.16);
          }

          &:after {
            transform: rotate(90deg);
            color: $vertical-menu-item-active-color;
          }

          &:before {
            opacity: 1;
            background-color: $vertical-menu-item-active-color;
          }
        }
      }

      // &.collapsed {
      //   &.active {
      //     &::after {
      //       transform: rotate(90deg);
      //     }
      //   }
      // }
    }

    > .nav-item {
      .nav-link.active,
      .nav-link.router-link-active {
        color: $vertical-menu-item-active-color;

        .icon-dual {
          color: $vertical-menu-item-hover-color;
          fill: rgba($white, 0.16);
        }
      }
    }

    .nav-sm {
      padding-left: 15px;

      .nav-link {
        padding: $vertical-menu-sub-item-padding-y $vertical-menu-sub-item-padding-x !important;
        color: $vertical-menu-sub-item-color;
        white-space: none;
        position: relative;
        font-size: $vertical-menu-sub-item-font-size;
        font-family: $vertical-menu-sub-item-font-family;

        // &:before {
        //     content: '';
        //     width: 6px;
        //     height: 1.5px;
        //     background-color: $vertical-menu-sub-item-color;
        //     position: absolute;
        //     left: 2px;
        //     top: 16.5px;
        //     transition: all .4s ease-in-out;
        //     opacity: 0.5;
        // }

        &:hover {
          color: $vertical-menu-sub-item-hover-color;

          // &:before {
          //     background-color: $vertical-menu-sub-item-hover-color !important;
          //     opacity: 1;
          // }
        }

        &.active {
          color: $vertical-menu-item-active-color;

          &:before {
            background-color: $vertical-menu-item-active-color !important;
          }
        }
      }

      .nav-sm {
        padding-left: 15px;

        .nav-link {
          &:before {
            height: 5px;
            width: 5px;
            left: 5px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid;
            top: 16px;
          }
        }
      }
    }
  }

  .btn-vertical-sm-hover {
    color: $text-muted;
    display: none;
  }
}

.navbar-brand-box {
  padding: 0 1.3rem;
  text-align: center;
  transition: all 0.1s ease-out;
}

.logo {
  line-height: $header-height;
}

.app-menu {
  .row {
    margin: 0;

    > * {
      width: 100%;
      padding: 0;
    }
  }

  @media (max-width: 1199.98px) {
    margin-left: -100%;
    // padding: 10px 0 20px 0;
  }
}

.navbar-menu {
  .container-fluid {
    padding: 0;
  }
}

[data-theme='dark'] {
  .navbar-menu {
    background: $vertical-menu-bg-dark;
    border-right: 1px solid $vertical-menu-border-dark;

    .btn-vertical-sm-hover {
      color: $vertical-menu-item-color-dark;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $vertical-menu-item-color-dark;

      &.active {
        color: $vertical-menu-item-active-color-dark;
      }

      &[data-bs-toggle='collapse'] {
        &:after {
          color: inherit;
        }

        &[aria-expanded='true'] {
          color: $vertical-menu-item-active-color-dark;

          &:after {
            color: inherit;
          }

          .icon-dual {
            color: $vertical-menu-item-active-color-dark;
            fill: rgba($white, 0.1);
          }
        }
      }

      svg {
        color: $vertical-menu-item-color-dark;
        fill: rgba($white, 0.1);
      }

      &:hover {
        color: $vertical-menu-item-hover-color-dark;

        .icon-dual {
          color: $vertical-menu-item-hover-color-dark;
          fill: rgba($white, 0.16);
        }
      }
    }

    > .nav-item {
      .nav-link.active,
      .nav-link.router-link-active {
        color: $vertical-menu-item-active-color-dark;

        .icon-dual {
          color: $vertical-menu-item-hover-color-dark;
          fill: rgba($white, 0.16);
        }
      }
    }

    .nav-sm {
      .nav-link {
        color: $vertical-menu-sub-item-color-dark;

        &:before {
          background-color: $vertical-menu-sub-item-color-dark !important;
        }

        &:hover {
          color: $vertical-menu-item-hover-color-dark;

          &:before {
            background-color: $vertical-menu-item-hover-color-dark !important;
          }
        }

        &.active {
          color: $vertical-menu-item-active-color-dark;
        }
      }

      .nav-sm {
        .nav-link {
          &:before {
            background-color: transparent !important;
          }

          &:hover {
            &:before {
              background-color: $vertical-menu-item-hover-color-dark !important;
            }
          }

          &.active {
            color: $vertical-menu-item-active-color-dark;

            &:before {
              background-color: $vertical-menu-item-active-color-dark !important;
            }
          }
        }
      }
    }
  }

  .menu-title {
    color: $vertical-menu-title-color-dark;
  }

  .logo-dark {
    display: none;
  }

  .logo-light {
    display: inline-block;
  }
}

[data-theme='light'] {
  .logo-dark {
    display: inline-block;
  }

  .logo-light {
    display: none;
  }
}

.menu-title {
  letter-spacing: 0.05em;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: $vertical-menu-title-color;
  font-weight: $font-weight-semibold;

  span {
    padding: 12px 20px;
    display: inline-block;
  }

  i {
    display: none;
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($dark, 0.35);
  z-index: 1003;
  display: none;
}

// Mobile Menu
.vertical-sidebar-enable {
  .menu-overlay {
    display: block;
  }

  .app-menu {
    margin-left: 0 !important;
    z-index: 1004;
  }
}
